
.body {
    color: white;
    background-color: rgb(8, 8, 8);
}

.footer {
    color: aliceblue;
    background-color: gray;
}

.TituloKombat {
    color: bisque;
    background-color: rgb(31, 31, 31);
}

.TituloComision {
    color: blanchedalmond;
    background-color: rgb(37, 35, 35);
}

.background {
    background-color: rgb(53, 53, 53);
}

h1, h4 {
    color: white;
}